a {
  color: #ee7316;
}

.btn-primary {
  background-color: #ee7316;
  border-color: #ee7316;
}

.btn-primary:hover {
  background-color: #eaa134;
}

.btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary:disabled:focus, .btn-primary:disabled.focus {
  background-color: #ee7316;
  border-color: #ee7316;
}

.btn-primary.disabled:hover, .btn-primary:disabled:hover {
  background-color: #ee7316;
  border-color: #ee7316;
}

.btn-outline-primary {
  color: #ee7316;
  border-color: #ee7316;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #ee7316;
  border-color: #ee7316;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  color: #fff;
  background-color: #ee7316;
  border-color: #ee7316;
}

.btn-outline-primary:active, .btn-outline-primary.active,
.open > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #ee7316;
  border-color: #ee7316;
}

.btn-outline-primary:active:hover, .btn-outline-primary:active:focus, .btn-outline-primary:active.focus, .btn-outline-primary.active:hover, .btn-outline-primary.active:focus, .btn-outline-primary.active.focus,
.open > .btn-outline-primary.dropdown-toggle:hover,
.open > .btn-outline-primary.dropdown-toggle:focus,
.open > .btn-outline-primary.dropdown-toggle.focus {
  color: #fff;
  background-color: #234b78;
  border-color: #1a3758;
}

.btn-outline-primary.disabled:focus, .btn-outline-primary.disabled.focus, .btn-outline-primary:disabled:focus, .btn-outline-primary:disabled.focus {
  border-color: #7fa9d9;
}

.btn-outline-primary.disabled:hover, .btn-outline-primary:disabled:hover {
  border-color: #7fa9d9;
}

.dropdown-item.active, .dropdown-item.active:focus, .dropdown-item.active:hover {
  background-color: #ee7316;
}

.nav-pills .nav-link.active, .nav-pills .nav-link.active:focus, .nav-pills .nav-link.active:hover,
.nav-pills .nav-item.open .nav-link,
.nav-pills .nav-item.open .nav-link:focus,
.nav-pills .nav-item.open .nav-link:hover {
  background-color: #ee7316;
}

.card-primary {
  background-color: #ee7316;
  border-color: #ee7316;
}

.card-outline-primary {
  border-color: #ee7316;
}

.page-item.active .page-link, .page-item.active .page-link:focus, .page-item.active .page-link:hover {
  background-color: #ee7316;
  border-color: #ee7316;
}

.page-link {
  color: #ee7316;
}

.tag-primary {
  background-color: #ee7316;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  background-color: #ee7316;
  border-color: #ee7316;
}

.bg-primary {
  background-color: #ee7316 !important;
}

.text-primary {
  color: #ee7316 !important;
}

hr {
  border-top: 1px solid #ee7316;
}

.navbar-default {
  background: #ee7316;
}

.navbar-default .navbar-nav .dropdown-menu {
  background: #ee7316;
}

.navbar-default .navbar-toggler {
  background: #ee7316;
}

.control .control-top button {
  background: #ee7316;
  border-right: 1px solid rgba(255, 255, 255, 0.6);
}

.control .control-top button:hover {
    background: #eaa134;
}

.ol-control button {
  background-color: rgba(93.3, 45.1, 8.6, 0.5) !important;
}

.ol-control button:focus,
.ol-control button:hover {
  background-color: rgba(93.3, 45.1, 8.6, 0.7) !important;
}

.zoekknop, #dem_toon_kaart, #dem_toon_stat_beroep, #dem_toon_stat_beroepsgroep, #dem_toon_stat_woonplaats {
  background: #ee7316;
  border-bottom: 2px solid #db6710;
  border-right: 2px solid #db6710;
}

#dem_eig_reset {
  background: #ee7316;
  border-bottom: 2px solid #db6710;
  border-right: 2px solid #db6710;
}

.container .simple-nav {
  border-left: 3px solid #ee7316;
}

.register #submit, .login #submit, .update-account #submit {
  background: #ee7316;
  border-bottom: 2px solid #db6710;
  border-right: 2px solid #db6710;
}

footer .dropdown-menu li > a {
  color: #ee7316;
}

.zoekknop, #dem_toon_kaart {
  background: #ee7316;
  border-bottom: 2px solid #db6710;
  border-right: 2px solid #db6710;
}

.slick-prev:before,
.slick-next:before {
  color: #ee7316;
}
